<a href="https://colab.research.google.com/github/Nargis45/Data_Analysis/blob/main/count_frequency_encoding(mercedesbenz).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#mounting the drive to import the file
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [62]:
#providing the path of the file and storing the data in dataset and pandas library is used to study the data
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mercedesbenz.csv',usecols=['X1','X2'])

In [63]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [64]:
for col in df.columns:
  print(col,':', len(df[col].unique()), ' labels')

X1 : 27  labels
X2 : 44  labels

In [67]:
df.shape

(4209, 2)

In [68]:
# no. of columns after one hot encoding
pd.get_dummies(df).shape

(4209, 71)

In [66]:
# no. of columns after one hot encoding
pd.get_dummies(df, drop_first=True).shape

(4209, 69)

In [50]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [71]:
df.X2.value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'al': 5,
 'an': 5,
 'q': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'j': 1,
 'af': 1,
 'l': 1,
 'aa': 1,
 'c': 1,
 'o': 1,
 'ar': 1}

In [72]:
df_frequency_map=df.X2.value_counts().to_dict()

In [74]:
df.X2=df.X2.map(df_frequency_map)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137