<a href="https://colab.research.google.com/github/Nargis45/Data_Analysis/blob/main/ordinal/label_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
import numpy as np
import datetime

In [76]:
df_base=datetime.datetime.today()
df_date_list=[df_base-datetime.timedelta(days=x) for x in range(0,20)]
df=pd.DataFrame(df_date_list)
df.columns=['day']
df

                          day
0  2022-10-21 15:35:17.980269
1  2022-10-20 15:35:17.980269
2  2022-10-19 15:35:17.980269
3  2022-10-18 15:35:17.980269
4  2022-10-17 15:35:17.980269
5  2022-10-16 15:35:17.980269
6  2022-10-15 15:35:17.980269
7  2022-10-14 15:35:17.980269
8  2022-10-13 15:35:17.980269
9  2022-10-12 15:35:17.980269
10 2022-10-11 15:35:17.980269
11 2022-10-10 15:35:17.980269
12 2022-10-09 15:35:17.980269
13 2022-10-08 15:35:17.980269
14 2022-10-07 15:35:17.980269
15 2022-10-06 15:35:17.980269
16 2022-10-05 15:35:17.980269
17 2022-10-04 15:35:17.980269
18 2022-10-03 15:35:17.980269
19 2022-10-02 15:35:17.980269

In [78]:
df['day_of_week']=df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2022-10-21 15:35:17.980269      Friday
1 2022-10-20 15:35:17.980269    Thursday
2 2022-10-19 15:35:17.980269   Wednesday
3 2022-10-18 15:35:17.980269     Tuesday
4 2022-10-17 15:35:17.980269      Monday

In [79]:
weekday_map={'Monday':1,
             'Tuesday':2,
             'Wednesday':3,
             'Thursday':4,
             'Friday':5,
             'Saturday':6,
             'Sunday':7
}
df['day_ordinal']=df.day_of_week.map(weekday_map)

In [80]:
df.head(20)

                          day day_of_week  day_ordinal
0  2022-10-21 15:35:17.980269      Friday            5
1  2022-10-20 15:35:17.980269    Thursday            4
2  2022-10-19 15:35:17.980269   Wednesday            3
3  2022-10-18 15:35:17.980269     Tuesday            2
4  2022-10-17 15:35:17.980269      Monday            1
5  2022-10-16 15:35:17.980269      Sunday            7
6  2022-10-15 15:35:17.980269    Saturday            6
7  2022-10-14 15:35:17.980269      Friday            5
8  2022-10-13 15:35:17.980269    Thursday            4
9  2022-10-12 15:35:17.980269   Wednesday            3
10 2022-10-11 15:35:17.980269     Tuesday            2
11 2022-10-10 15:35:17.980269      Monday            1
12 2022-10-09 15:35:17.980269      Sunday            7
13 2022-10-08 15:35:17.980269    Saturday            6
14 2022-10-07 15:35:17.980269      Friday            5
15 2022-10-06 15:35:17.980269    Thursday            4
16 2022-10-05 15:35:17.980269   Wednesday            3
17 2022-10-04 15:35:17.980269     Tuesday            2
18 2022-10-03 15:35:17.980269      Monday            1
19 2022-10-02 15:35:17.980269      Sunday            7